# Ignore RAG and data folders
rag/
data/

# Ignore vector database
chroma_db/

# Python cache
__pycache__/
*.pyc

# Environment files (VERY IMPORTANT)
.env

# Virtual environment
venv/
aicareervenv/

# VS Code settings
.vscode/