langchain
langchain-core
langchain-community
langgraph
streamlit
faiss-cpu
chromadb
pypdf
tavily-python
python-dotenv
huggingface_hub
sentence-transformers
langchain-groq
PyPDF2
langchain-tavily
langchain-text-splitters


